<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title">
      <i class="fa fa-laptop"></i>
      <span>{{ settings.name }}</span>
    </a>
  </div>

  <div class="clearfix"></div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
	     <li>
          <a><i class="fa fa-database"></i> 平台功能 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/">控制面板</a></li>
            <li><a href="/node/index">平台节点管理</a></li>
            <li><a href="/user/index">平台用户管理</a></li>
			<li><a href="/system/onlineStreams">平台在线流</a></li>
            <li><a href="/system/config">平台启动配置</a></li>
          </ul>
        </li>
		

        <li>
          <a><i class="fa fa-cube"></i> 节点功能 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/alarm/index">报警管理</a></li>
			<li><a href="/stream/index">视频管理</a></li>
			<li><a href="/stream/player">单屏播放器</a></li>
			<li><a href="/control/index">布控管理</a></li>
            <li><a href="/audio/index">音频管理</a></li>
            <li><a href="/face/index">人脸管理</a></li>
            <li><a href="/scheduleTask/index">计划任务</a></li>
            <li><a href="/alarmInterface/index">报警存储管理</a></li>

            <li><a href="/algorithmTest/index">算法测试</a></li>
            <li><a href="/algorithmFlow/index">业务算法管理</a></li>
            <li><a href="/algorithm/index">基础算法管理</a></li>
            <li><a href="/behaviour/index">行为算法管理</a></li>
            <li><a href="/llm/index">大模型管理</a></li>

            
            <li><a href="/streamRecord/index">录像计划管理</a></li>
            <li><a href="/streamRecord/timeplayer">录像播放器</a></li>

          </ul>
        </li>

        
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">

  </div>
  <!-- /menu footer buttons -->
</div>
